.page__workExperience {
    width: 60%;
    margin: 0 auto;
}

.page__workExperience_place-1 h3>a {
    color: var(--color-primary-font);
}

.page__workExperience h5 {
    padding: calc(var(--step)) 0;
}