@media (max-width: 1024px) {
    .page__contacts {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .page__contacts {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .page__contacts {
        width: 95%;
    }
}

@media (max-width: 425px) {
    .page__contacts {
        width: 100%;
    }
}