@media (max-width: 1024px) {
    .page__contacts {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .page__contacts {
        width: 70%;
    }
}

@media (max-width: 425px) {
    .page__contacts {
        width: 90%;
    }
}

@media (max-width: 375px) {
    .page__contacts {
        width: 100%;
    }
}