.page__contacts {
    width: 40%;
    margin: 0 auto;
}

.page__contacts_title {
    padding-bottom: calc(var(--step)*6);
}

h4 {
    padding: calc(var(--step)*4) 0;
}

.contacts_phone, .page__contacts_mail a, .page__contacts_linkedIn a, .page__contacts_telegram a{
    color: var(--color-primary-font);
    position: relative;
}

.contacts__toolTip {
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    background-color: var(--color-primary-font);
    border-radius: var(--step);
    color: #0A1C31;
    font-size: var(--h5-font-size);
    line-height: calc(var(--step)*6);
    font-weight: var(--font-weight-bold);
    text-align: center;
}