.page__about{
    padding-bottom: calc(var(--step)*3);
}

.about__description {
    width: 80%;
    padding-bottom: calc(var(--step)*3);
}

.about__description_title {
    padding-bottom: calc(var(--step)*8);
}

.about__description_intro {
    line-height: calc(var(--step)*5);
}

.about__description_myQuality {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.myQuality__hardSkills, .myQuality__softSkills, .myQuality__hobby {
    width: 32%;
}

.myQuality__hardSkills_items, .myQuality__softSkills_items, .myQuality__hobby_items {
    list-style-type:"-  " ;
    margin-left: calc(var(--step)*5);
}

.myQuality__hardSkills_item, .myQuality__softSkills_item, .myQuality__hobby_item, .myQuality__lang_eng-level {
    font-size: var(--h5-font-size);
    line-height: calc(var(--step)*7);
}

.myQuality__lang {
    display: flex;
    align-items: baseline;
    gap: calc(var(--step)*5);;
}

.myQuality__lang_eng {
    font-size: var(--h3-font-size);
    line-height: calc(var(--step)*7);
    padding: calc(var(--step)*3) 0;
}

