@media (max-width: 768px) {

    .about__description {
        width: 90%;
    }

    .myQuality__hardSkills, .myQuality__softSkills, .myQuality__hobby {
        width: 33%;
    }

    .myQuality__hardSkills_item, .myQuality__softSkills_item, .myQuality__hobby_item, .myQuality__lang_eng-level {
        font-size: var(--h6-font-size);
    }

    .myQuality__lang_eng {
        font-size: var(--h4-font-size);
    }

    .page__about {
        padding-bottom: calc(var(--step)*20);
    }

    .about__description {
        width: 100%;
    }

    .myQuality__lang {
        gap: calc(var(--step)*1);;
    }

    .about__description_myQuality {
        flex-wrap: wrap;
    }
    
    .myQuality__hardSkills, .myQuality__softSkills{
        width: 50%;
    }
    
    .myQuality__hobby {
        width: 100%;
    }


}

@media (max-width: 600px) {
    .myQuality__hardSkills, .myQuality__softSkills{
        width: 100%;
    }
}
