@keyframes torightDir {
    from {  transform: translateX(-110%); }
    to { transform: translateX(150%); }
}

.page__home {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: calc(var(--step)*6);
    padding-top: calc(var(--step)*10);    
    padding-bottom: calc(var(--step)*20);    
}

.page__home__picture {
    width: 35%;
}

.page__home__picture>img {

    width: 100%;
    height: auto;
    object-fit: contain;
}

.page__home__greeting {
    width: 45%;
}

.greeting__direction {
    width: 240px;
    padding: calc(var(--step)*12) 0;
}

.direction_toAbout {
    display: block;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: calc(var(--step)*4) 0;
    overflow: hidden;
}



.direction_toAbout-title {
    display: inline-block;
    color: var(--color-primary-font);
    font-size: var(--h5-font-size);
    line-height: calc(var(--step)*4);
    font-weight: var(--font-weight-bold);
}

.direction_toAbout-arrow {
    display: inline-block;
    background-image: url('../../../images/home_arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: calc(var(--step)*2) calc(var(--step)*10);
}

.direction_toAbout-circle {
    position: absolute;
    right: 0px;
    z-index: -1;
    display: inline-block;
    background-color: var(--color-secondary-red);
    width: calc(var(--step)*8);
    height: calc(var(--step)*8);
    filter: blur(3.5px);
    border-radius: 50%;    
}


.greeting__links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 40%;
    height: calc(var(--step)*6);
}

.greeting__link_in, .greeting__link_mail, .greeting__link_cv {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.7;
    height: 100%;
}

.greeting__link_in {
    background-image: url('../../../images/sign_linkedin.png');
    margin-bottom: calc(var(--step)*0.5);
    width: calc(var(--step)*6);
    
}

.greeting__link_mail {
    background-image: url('../../../images/sign_mail.png');
    width: calc(var(--step)*6);
}

.greeting__link_cv {
    background-image: url('../../../images/sign_cv.png');
    cursor: pointer;
    width: calc(var(--step)*8);
}

.greeting__link_in a, .greeting__link_mail a, .greeting__link_cv a{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}






