@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --font-family: 'Inter', sans-serif;
    --font-weight-bold: 900;
    --color-primary-font: #EFEAEC;
    --color-secondary-red: #AF142E;
    --step: 5px;

    --base-font-size: 0.95rem;
    --font-size-multyplier: 1.175;

    --h6-font-size: calc(var(--base-font-size)*var(--font-size-multyplier));
    --h5-font-size: calc(var(--h6-font-size)*var(--font-size-multyplier));
    --h4-font-size: calc(var(--h5-font-size)*var(--font-size-multyplier));
    --h3-font-size: calc(var(--h4-font-size)*var(--font-size-multyplier));
    --h2-font-size: calc(var(--h3-font-size)*var(--font-size-multyplier));
    --h1-font-size: calc(var(--h2-font-size)*var(--font-size-multyplier));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: var(--font-family);
    color: var(--color-primary-font);
    background-image: url('../images/abstract_realistic_technology_particle_background.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.container {
    /* width: 85%;
    max-width: 1280px; */
    width: min(85%, 1280px);
    margin: 0 auto;
    height: 100%;
}

h1 {
    font-size: var(--h1-font-size);
    line-height: calc(var(--step)*8);
    font-weight: var(--font-weight-bold);
    padding: calc(var(--step)*20) 0 0;
}

h2 {
    font-size: var(--h2-font-size);
    line-height: calc(var(--step)*8);
    font-weight: var(--font-weight-bold);
    padding: calc(var(--step)*10) 0 0;
}

h3 {
    font-size: var(--h3-font-size);
    line-height: calc(var(--step)*6);
    font-weight: var(--font-weight-bold);
    padding: calc(var(--step)*10) 0;
}

h4 {
    font-size: var(--h4-font-size);
    line-height: calc(var(--step)*6);
}

h5 {
    font-size: var(--h5-font-size);
    line-height: calc(var(--step)*6);
    font-weight: 300;
}

.app {
    height: 100vh;
}