.page_notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.page_notfound > h1 {
    margin-bottom: calc(var(--step)*13);
}

.page_notfound__toMainPage {
    font-size: var(--h4-font-size);
    line-height: calc(var(--step)*6);
    color: var(--color-primary-font);
}